<div class="container-fluid padre">
  <div class="container-fluid carta" *ngFor="let category of categories" [routerLink]="['/detalles', 'Comportamiento', category.id]">
    <div class="row">
      <div class="col-12">
        <p class="titulo-carta">{{ category.codigoCategoria }} - {{category.nombreCategoria}}</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-6">
        <p class="subtitulo">Unidades</p>
        <p class="money">{{category.variacionMonedaUnidades | number:'1.0-10'}}/ {{category.variacionPorcentajeUnidades | number:'1.2-2'}} %</p>
        <p class="subtitulo2">Contribución</p>
        <p class="money">${{category.variacionMonedaContribucion | number:'1.0-10'}}/ {{category.variacionPorcentajeContribucion | number:'1.2-2'}} %</p>
      </div>
      <div class="col-6">
        <p class="subtitulo">Venta</p>
        <p class="money">${{category.variacionMonedaVenta | number:'1.0-10'}}/ {{category.variacionPorcentajeVenta | number:'1.2-2'}} %</p>
        <p class="subtitulo2">Margen</p>
        <p class="money">{{category.variacionPorcentajeMargen | number:'1.1-1'}} %</p>
      </div>
    </div>
  </div>
</div>