.row {
  margin: 0rem;
  padding-top: 0rem;
  padding-left: 0.75rem;
  padding-bottom: 0.1667rem;
}

.col-4 {
  margin: 0rem;
  padding: 0rem;
}

.padre {
  padding-top: 1rem;
  padding-left: 0.6667rem;
  padding-right: 0.6667rem;
  padding-bottom: 5rem;
  background-color: #F7F9FC;
}

.carta {
  padding: 0px;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  border-radius: 0.3333rem;
  transition: 0.4s;
}

.carta:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.header-carta{
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid #4E535A;
}

.next-icon{
  position: absolute;
  right: 3px;
  top: 1rem;
}

.titulo-carta {
  text-align: center;
  font-family: 'lato-medium';
  font-size: 1.3333rem;
  letter-spacing: -0.0175rem;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom:0px;
  padding-right: 2rem;
  /* color: #818080; */
  color: #4E535A;
}


.subtitulo {
  font-family: 'lato-regular';
  font-size: 1.25rem;
  letter-spacing: -0.0217rem;
  color: #546CF1;
  margin: 0;
}

.subtitulo2 {
  font-family: 'lato-regular';
  font-size: 1.25rem;
  letter-spacing: -0.0217rem;
  color: #546CF1;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.6667rem;
  margin-bottom: 0;
}

.money {
  font-family: 'lato-bold';
  font-size: 1.1667rem;
  letter-spacing: -0.0208rem;
  color: #4E535A;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0.1667rem;
}

@media(width < 430px) {
  .titulo-carta {
    font-size: 1.1rem;
  }
  
  .subtitulo {
    font-size: 1.15rem;
  }
  
  .subtitulo2 {
    font-size: 1.05rem;
  }
  
  .money {
    font-size: 0.9rem;
  }
}

@media(width < 370px) {
  .titulo-carta {
    font-size: 0.9rem;
  }

  .subtitulo {
    font-size: 0.8rem;
  }

  .subtitulo2 {
    font-size: 0.8rem;
  }

  .money {
    font-size: 0.9rem;
  }
}