.navbar-brand{
    margin: 1rem !important;
  }

  /*este estilo es para centrar las columnas*/
.mx-auto{
  margin-left: 0 !important;
}

.iconoComp{
    /* margin-right: 0.8333rem; */
     height: 1.5rem !important;
    width: 1.5rem !important;
    /* margin-left: 2.4167rem; */
    /* padding-top: 1.3333rem; */
    /* font-size: 15px; */
    text-align: center !important;
  }
