<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="scrollMenu container-fluid" style="    position: absolute;
  bottom: 0px;
  height: 4.9167rem;
  width: 100%;
 overflow-y: hidden;">
    <div class="navbar-brand" href="#" ></div>
    <div class="row flex-nowrap  mx-auto">
       <div class="col-3  justify-content-center text-center" (click)="cambioIcono('COMP')">
        <img class="iconoComp" src="{{comp? '../../../assets/Android/hdpi/ic_comportamiento_on.png': '../../../assets/Android/hdpi/ic_comportamiento_off.png'}}" />
        <p class="nombre" [ngClass]="{'verdeNombre': comp}">Comportamiento</p>
      </div> 

       <div class="col-3 justify-content-center text-center" (click)="cambioIcono('POR')">
        <img class="iconoPor" src="{{por ? '../../../assets/Android/hdpi/ic_porcentajes_on.png': '../../../assets/Android/hdpi/ic_porcentajes_off.png'}}"/>
        <p class="nombre" [ngClass]="{'verdeNombre': por}">Porcentajes</p>
      </div>

      <div class="col-3 justify-content-center text-center" (click)="cambioIcono('VARI')">
        <img class="iconoVar" src="{{variacion ? '../../../assets/Android/hdpi/ic_variacion_on.png': '../../../assets/Android/hdpi/ic_variacion_off.png'}}"/>
        <p class="nombre" [ngClass]="{'verdeNombre': variacion}">Variación $$-%</p>
      </div>
    </div>
  </div>
</nav>
