.box {
  width: 70%;
  height: 90px;
  margin: 25px auto;
  padding-top: 5px;
  padding-left: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgb(145, 144, 144);
}

.iconoDolar {
  color: green;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: green;
  border-image: initial;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  margin-left: 5px;
}

.iconoCaja{
  color: green;
  position: fixed;
  margin-left: 5px;
  margin-top: 3px;
}

.iconoMas{
  color: green; 
  position: fixed;
  margin-left: 5px;
}

.iconoMargen{
  color: green;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: green;
  border-image: initial;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  margin-left: 5px;
}

