<body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="box">
        <b class="venta"> Venta</b>
    <div class="iconoDolar">
<i class="fas fa-dollar-sign fa-2x" style="width: 20px;"></i>
    </div>
</div> 

<div class="box">
    <b class="unidades">Unidades</b>
    <div class="iconoCaja">
    <i class="fas fa-box-open fa-2x"></i>
    </div>
</div>

<div class="box">
    <b class="contribucion">Contribución</b>
    <div class="iconoMas">
        <i class="far fa-plus-square fa-3x"></i>
    </div>
</div>
<div class="box">
    <b class="margen">Margen</b>
    <div class="iconoMargen">
        <i class="fas fa-percent fa-2x" style="width: 30px;"></i>
    </div>
</div>
</body>