<div class="container-fluid">
  <div class="cartas" *ngFor="let card of cards">
    <div class="row">
      <div class="col-4">
        <b class="titulo-card" titulo>{{ card.nombre }}</b>
        <!-- <div>
          <i class="icono" [class]="card.icono" aria-hidden="true"></i>
        </div> -->
      </div>
      <!-- <div class="col-4">
        <b class="p4">P4</b>
        <div class="money">
          <b class="moneyP4">{{ card.moneyP4 }}</b>
        </div>
        <div>
          <b class="var">Var</b>
        </div>
      </div>
      <div class="col-4">
        <b class="p11">P11</b>
        <div>
          <b class="moneyP11">{{ card.moneyP11 }}</b>
        </div>
        <div>
          <b class="moneyVar">{{ card.moneyVar }}</b>
        </div>
      </div> -->
    </div>
  </div>
</div>