.titulo-card {
    font-family: 'lato-medium';
    font-size: 1.4167rem;
    color: #222831;
    letter-spacing: 0.0192rem;
    padding-top: 0.75rem;
    padding-left: 0.73rem;
}

.icono {
  padding-left: 1.0833rem;
  background-position: center;
  background-size: contain;
}

.col-4 {
  padding: 0px;
  margin: 0px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  padding-left: 0.6667rem;
  padding-right: 0.6667rem;
}

.cartas {
  /* width:  30rem;*/
  height: 8.3333rem;
  margin-bottom: 1rem !important;
  margin-top: 1rem;
  background-color: white;
  box-shadow: 0 0 8px rgb(204, 210, 222);
}

.nombre {
  font-family: lato-medium;
  color: #222831;
  letter-spacing: 0.0192rem;
  size: 1.4167rem;
  padding-top: 0.75rem;
  padding-left: 0.73rem;
  padding-bottom: 5.8333rem;
}

.iconoDolar {
  color: #46A100;
  background-color: white;
  padding-left: 1.0833rem;
  padding-bottom: 1.4167rem;
  padding-top: 1.5rem;
}

.p4 {
  font-family: lato-regular;
  color: #546CF1;
  letter-spacing: 0.0217rem;
  size: 1.25rem;
  margin-top: 0.75rem;
  /*padding-left: 11.25rem;*/
  margin-bottom: 5.8333rem;
}

.money {
  padding-top: 2.75rem;
  padding-bottom: 3.8333rem;
}

.moneyP4 {
  font-family: lato-bold;
  color: #71757B;
  letter-spacing: 0.0208rem;
  size: 1.1667rem;
  /*padding-left: 11.25rem; */
}

.p11 {
  font-family: lato-regular;
  color: #546CF1;
  letter-spacing: 0.0217rem;
  size: 1.25rem;
  padding-top: 0.75rem;
  /* padding-left: 21.5rem; */
  padding-bottom: 5.8333rem;
}

.moneyP11 {
  font-family: lato-bold;
  color: #71757B;
  letter-spacing: 0.0208rem;
  size: 1.1667rem;
  padding-top: 2.75rem;
  padding-bottom: 3.8333rem;
  /* padding-left: 21.5rem; */
}

.var {
  font-family: lato-regular;
  color: #71757B;
  letter-spacing: 0.0217rem;
  size: 1.25rem;
  padding-top: 5.8333rem;
  padding-bottom: 0.75rem;
}

.moneyVar {
  font-family: lato-heavy;
  color: #546CF1;
  letter-spacing: 0.0192rem;
  size: 1.4167;
  padding-top: 5.8333rem;
  padding-bottom: 0.75rem !important;
  /* padding-left: 21.25rem; */
}

.iconoCaja {
  color: #46A100;
  background-color: white;
  padding-left: 1.0833rem;
  padding-bottom: 1.4167rem;
  padding-top: 1.5rem;
}

/* .iconoMas{
  color: green; 
  position: fixed;
  margin-left: 5px;
}

.iconoMargen{
  color: green;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: green;
  border-image: initial;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  margin-left: 5px;
} */