<form class="container-fluid espacio-elementos">
    <label class="texto-titulo">BIENVENIDO</label>
    <label class="texto-subtitulo">ID</label>
    <input type="number" class="entrada-texto borde-correcto">
    <label class="texto-subtitulo">Contraseña</label>
    <input type="password" class="entrada-texto borde-incorrecto">
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn-ingresar btn-deshabilitado-color" (click)="login()">ENTRAR</button>
    </div>
</form>