<diV class="container-fluid">
    <div class="row text-center row-titulo">
        <p class="titulo">{{category.nombreCategoria}}</p>
        <div class="icono-cerrar" [routerLink]="['/home', 'Soi']"></div>
    </div>
    <div class="row row-busqueda">
        <input class="busqueda form-control mr-sm-2" type="search" placeholder="Ingrese una busqueda..."
            aria-label="Search" name="filterItems" (ngModelChange)="getFilteredItems()" [(ngModel)]="filterItems">
        <button type="submit" class="search-button">
            <div class="icono-busqueda"></div>
        </button>
    </div>
    <div class="row detalle-general">
        <div class="col-6">
            <p class="titulo-detalle-general">Unidades</p>
            <p class="subtitulo-detalle-general">$ {{ category.variacionMonedaUnidades | number:'1.0':'en-US'}} / {{
                category.variacionPorcentajeUnidades }}%</p>
            <p class="titulo-detalle-general">Contribución</p>
            <p class="subtitulo-detalle-general">$ {{ category.variacionMonedaContribucion | number:'1.0':'en-US'}} / {{
                category.variacionPorcentajeContribucion }} %</p>
        </div>
        <div class="col-6">
            <p class="titulo-detalle-general">Venta</p>
            <p class="subtitulo-detalle-general">$ {{ category.variacionMonedaVenta | number:'1.0':'en-US'}} / {{
                category.variacionPorcentajeVenta }}%</p>
            <p class="titulo-detalle-general">Margen</p>
            <p class="subtitulo-detalle-general">{{ category.variacionPorcentajeMargen }}%</p>
        </div>
    </div>
    <!-- COMPORTAMIENTO -->
    <div *ngIf="filteredItems.length; else noResults">
        <div *ngIf="section == 'Comportamiento'">
            <div class="titulos-detalle-producto" *ngFor="let item of filteredItems">
                <div class="row">
                    <p class="col-3 titulo-detalle-producto">Cod. {{ item.codigoArticulo }}</p>
                    <p class="col-9 titulo-detalle-producto">{{ item.nombreArticulo }}</p>
                </div>
                <p class="titulo-propiedad"></p>
                <div class="info-flex">
                    <div>
                        <p class="titulo-propiedad">Unidades</p>
                        <p class="valor-propiedad">${{ item.variacionMonedaUnidades | number:'1.0-10'}}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Venta</p>
                        <p class="valor-propiedad">${{ item.variacionMonedaVenta | number:'1.0-10'}}</p>
                    </div>
                    <div class="titulo-propiedad">
                        <p class="titulo-propiedad">Contribución</p>
                        <p class="valor-propiedad">${{ item.variacionMonedaContribucion | number:'1.0-10'}}</p>
                    </div>
                </div>

                <div class="info-flex">
                    <div>
                        <p class="titulo-propiedad">Unidades</p>
                        <p class="valor-propiedad">%{{ item.variacionPorcentajeUnidades }}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Venta</p>
                        <p class="valor-propiedad">%{{ item.variacionPorcentajeVenta }}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Contribución</p>
                        <p class="valor-propiedad">%{{ item.variacionPorcentajeContribucion }}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Margen</p>
                        <p class="valor-propiedad">%{{ item.variacionPorcentajeMargen }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- PORCENTAJES -->
        <div *ngIf="section == 'Porcentajes'">
            <div class="titulos-detalle-producto" *ngFor="let item of filteredItems">
                <div class="row">
                    <p class="col-3 titulo-detalle-producto">Cod. {{ item.codigoArticulo }}</p>
                    <p class="col-9 titulo-detalle-producto">{{ item.nombreArticulo }}</p>
                </div>
                <p class="var-propiedad text-center">{{ period.tituloPrimerPeriodo }}</p>
                <div class="info-porcentaje">
                    <div>
                        <p class="titulo-propiedad">Unidades</p>
                        <p class="valor-propiedad">%{{ item.primerPeriodoPorcentajeUnidades }}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Venta</p>
                        <p class="valor-propiedad">%{{ item.primerPeriodoPorcentajeVenta }}</p>
                    </div>
                </div>
                <p class="var-propiedad text-center">{{period.tituloSegundoPeriodo}}</p>
                <div class="info-porcentaje">
                    <div>
                        <p class="titulo-propiedad">Unidades</p>
                        <p class="valor-propiedad">%{{ item.segundoPeriodoPorcentajeUnidades }}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Venta</p>
                        <p class="valor-propiedad">%{{ item.segundoPeriodoPorcentajeVenta }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- VARIACION -->
        <div *ngIf="section == 'Variacion'">
            <div class="titulos-detalle-producto" *ngFor="let item of filteredItems">
                <div class="row">
                    <p class="col-3 titulo-detalle-producto">Cod. {{ item.codigoArticulo }}</p>
                    <p class="col-9 titulo-detalle-producto">{{ item.nombreArticulo }}</p>
                </div>
                <p class="var-propiedad text-center">Var $$</p>
                <div class="info-flex">
                    <div>
                        <p class="titulo-propiedad">Unidades</p>
                        <p class="valor-propiedad">${{ item.variacionMonedaUnidades | number:'1.0-10'}}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Venta</p>
                        <p class="valor-propiedad">${{ item.variacionMonedaVenta | number:'1.0-10'}}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Contribución</p>
                        <p class="valor-propiedad">${{ item.variacionMonedaContribucion | number:'1.0-10'}}</p>
                    </div>
                </div>
                <p class="var-propiedad text-center">Var %%</p>
                <div class="info-flex">
                    <div>
                        <p class="titulo-propiedad">Unidades</p>
                        <p class="valor-propiedad">%{{ item.variacionPorcentajeUnidades }}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Venta</p>
                        <p class="valor-propiedad">%{{ item.variacionPorcentajeVenta }}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Contribución</p>
                        <p class="valor-propiedad">%{{ item.variacionPorcentajeContribucion }}</p>
                    </div>
                    <div>
                        <p class="titulo-propiedad">Margen</p>
                        <p class="valor-propiedad">%{{ item.variacionPorcentajeMargen }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noResults>
        <div class="no-results-container">
            <h3 class="no-results-title">Sin resultados</h3>
        </div>
    </ng-template>
    <div class="row vacia"></div>

</diV>