<diV class="container-fluid">
    <div class="row text-center row-titulo">
        <p class="titulo">Tohallas Humedas</p>
        <div class="icono-cerrar" [routerLink]="['/home', 'Soi']"></div>
    </div>
    <div class="row row-busqueda">
        <input class="busqueda form-control mr-sm-2" type="search" placeholder="Ingrese una busqueda..."
            aria-label="Search">
        <div class="icono-busqueda"></div>
    </div>
    <div class="row detalle-general">
        <div class="col-6">
            <p class="titulo-detalle-general">Unidades</p>
            <p class="subtitulo-detalle-general">$ 23.384 / 30%</p>
            <p class="titulo-detalle-general">Contribucion</p>
            <p class="subtitulo-detalle-general">$ 834.916 / 142 %</p>
        </div>
        <div class="col-6">
            <p class="titulo-detalle-general">Venta</p>
            <p class="subtitulo-detalle-general">$ 1.110.450 / 40%</p>
            <p class="titulo-detalle-general">Margen</p>
            <p class="subtitulo-detalle-general">16%</p>
        </div>
    </div>
    <div class="titulos-detalle-producto" *ngFor="let item of items">
        <div class="row">
            <p class="col-3 titulo-detalle-producto">Cod. {{ item.codigoArticulo }}</p>
            <p class="col-9 titulo-detalle-producto">{{ item.nombreArticulo }}</p>
        </div>
        <div class="row segunda-fila">
            <p class="col-2 titulo-propiedad"></p>
            <p class="col-2 titulo-propiedad">Unidades</p>
            <p class="col-3 titulo-propiedad">Venta</p>
            <p class="col-5 titulo-propiedad">Contribucion</p>
        </div>
        <div class="row ">
            <p class="col-2 var-propiedad">Var $$</p>
            <p class="col-2 valor-propiedad">${{ item.variacionMonedaUnidades }}</p>
            <p class="col-3 valor-propiedad">${{ item.variacionMonedaVenta }}</p>
            <p class="col-5 valor-propiedad">${{ item.variacionMonedaContribucion }}</p>
        </div>

        <div class="row segunda-fila">
            <p class="col-2 titulo-propiedad"></p>
            <p class="col-2 titulo-propiedad">Unidades</p>
            <p class="col-3 titulo-propiedad">Venta</p>
            <p class="col-3 titulo-propiedad">Contribucion</p>
            <p class="col-2 titulo-propiedad">Margen</p>
        </div>
        <div class="row ">
            <p class="col-2 var-propiedad">Var %%</p>
            <p class="col-2 valor-propiedad">%{{ item.variacionPorcentajeUnidades }}</p>
            <p class="col-3 valor-propiedad">%{{ item.variacionPorcentajeVenta }}</p>
            <p class="col-3 valor-propiedad">%{{ item.variacionPorcentajeContribucion }}</p>
            <p class="col-2 valor-propiedad">%{{ item.variacionPorcentajeMargen }}</p>
        </div>
    </div>
</diV>