
/*.navbar {
  /*max-width: 100%;
  background-color: white;
    bottom: 0 !important;
    left: 0; 
    width: 130%;
    height: 15%;
    position:fixed;
    white-space: nowrap !important;
    box-shadow: 0px -2px lightgray !important;
    /*justify-content: center !important;
  }*/
  
  .navbar-brand{
    margin: 1rem !important;
  }

  /*este estilo es para centrar las columnas*/
.mx-auto{
  margin-left: 0 !important;
}

  .iconoSoi{
    /* margin-right: 0.8333rem; */
     height: 1.5rem !important;
    width: 1.5rem !important;
    /* margin-left: 2.4167rem; */
    /* padding-top: 1.3333rem; */
    /* font-size: 15px; */
    text-align: center !important;
  }

  .iconobb{
    height:1.6rem !important;
    text-align: center !important;
    /* margin-left: 1.25rem; */
  }

  .iconoFarma{
    width: 1.5833rem !important;
    height: 1.5833rem !important;
    text-align: center !important;
    /* margin-left: 1.25rem; */
  }

  .iconoAc{
    text-align: center !important;
    width: 1.75rem !important;
    height: 1.6667rem !important;
    /* margin-left: 1.25rem; */
  }

  .iconoHcp{
    text-align: center !important;
    width: 1.5rem !important;
    height: 1.6667rem !important;
    /* margin-left: 1.25rem; */
  }



  /* .alinearItem{
    text-align: center;
    margin: auto;
  } */

  /* .iconoSoiOff{
    background-image: url('../../../assets/Android/hdpi/ic_soi_off.png');
    /* background-size: contain; 
    width: 1.5rem;
    height: 1.5rem;
    font-size: 15px;
    text-align: center !important; 
    padding-left: 20px; 
    padding-right: 20px;
  }

  .iconoSoiOn{
    background-image: url('../../../assets/Android/hdpi/ic_soi_on.png');
     background-size: contain; 
    width: 1.5rem;
    height: 1.5rem;
    font-size: 15px;
    text-align: center !important;
    padding-left: 20px; 
    padding-right: 20px;
    
  }  */

   .nombre{
    display:block;
    color: #222831;
    font-family: 'lato-regular';
    text-align: center !important;
     /* padding: 2px;  */
    text-decoration: none;
  }

  .verdeNombre{
    color: #46a100;
  }

 /* a:hover{
    background-color: aqua;
  } */

  .scrollMenu {
    width: auto;
    height: auto;
    background-color: #F7F9FC;
    overflow: auto;
    white-space: nowrap;
    box-shadow: 0px -2px lightgray;
    /*position: fixed;
    bottom: 0;  
    padding-bottom: 10.6667rem;*/
}
  
 
   

 