<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="scrollMenu container-fluid" style="    position: absolute;
  bottom: 0px;
  width: 102%;
  margin-bottom: -9px;">
    <a class="navbar-brand" href="#"></a>
    <div class="row flex-nowrap">
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
      <div class="col">
        <i
          class="icono fa fa-align-justify fa-2x icono-id"
          aria-hidden="true"
        ></i>
        <p>SOI</p>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="scrollMenu container-fluid" style="    position: absolute;
bottom: 0px;
width: 102%;
margin-bottom: -9px;">
  <div class="row flex-nowrap">
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
    <div class="col">
      <i
        class="icono fa fa-align-justify fa-2x icono-id"
        aria-hidden="true"
      ></i>
      <p>SOI</p>
    </div>
  </div>
</div> -->


