
.navbar {
  max-width: 100%;
  background-color: white;
    bottom: 0 !important;
    left: 0; 
    width: 130%;
    height: 15%;
    position:fixed;
    white-space: nowrap !important;
    box-shadow: 0px -2px lightgray !important;
    /*justify-content: center !important;*/
  }
  
  .icons{
    color: black;
    padding: 14px 16px;
    /*font-size: 15px;*/
    display: inline-block;
  }